.item{
    color:rgb(255, 255, 255);
    border-radius: 0.2em;
    top:0%;
    bottom: 0;
    z-index: 5;
    position:absolute;
    user-select: none;

    border-left-style: solid;
    border-right-style: solid;
    border-color: rgba(0,0,0,25%);
    border-width: 2px;
    cursor:initial;
}

.item.hovered{
    top: 0 !important;
    bottom: 0 !important;
    z-index: 100;
}

.selected{
    z-index: 99;
    cursor:grab;
}
.item.selected::after ,
.item.selected::before{
    position:absolute;
    content: "";
    display: block;
    width: 40px;
    height:80%;
    top: calc(50% - 40%);
}

.item.selected::after{
    right: -43px;
    cursor: e-resize;
    border-left: 3px solid black;
}
.item.selected::before{
    left: -43px;
    cursor: w-resize;
    border-right: 3px solid black;
}

.item.dragging::after ,
.item.dragging::before{
    width: 200vw;
    height: 200vh;
    top: calc(-100vh + 50%);
    left: calc(-100vw + 50%);
    cursor:grabbing;
    border: none;
    /* background-color: inherit; */
}

.item.popped{
    position: fixed;
}